
.head {
background-color: #99e6ff;
text-align: right;
position: relative;
height: 25%;
width: 100%
}

.container {
max-width: 100%;
position: relative;
padding: 25px;	
}

.line {
border-bottom: solid #7d97ad;
}

.content {
background-color: #ffa64d;
position: relative;
height: 150px;
width: 100%;
}

.logo {
width: 100%;
}


