.container {

}

.headertext {
	color: #2d3c49;
	font-family: "sans-serif";
	padding-top: 5%;
	text-align: right;

}

.section {
	max-width: 100%;
	background-color: green;
	padding: 10px;

}

.line {
border-bottom: solid #7d97ad;
}

.text {
color: #7d97ad;
text-align: left;
font-family: sans-serif;
font-size: 35px;

}